Source: circular-application-menu
Section: gnome
Priority: extra
Maintainer: Steffen Rumberger <inne@sdfeu.org>
Build-Depends: debhelper (>= 8.0.0), dh-autoreconf, libgtk-3-dev, libgnomevfs2-dev, libgnome-menu-3-dev
Standards-Version: 3.9.2
Homepage: http://github.com/1nn3/circular-application-menu
Vcs-Git: git://github.com/1nn3/circular-application-menu.git
Vcs-Browser: http://github.com/1nn3/circular-application-menu/commits/

Package: circular-application-menu
Architecture: i386 amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, gnome-menus
Description: Circular-Main-Menu for the GNOME desktop
 This is a Circular-Application-Menu (C-A-M) mirroring
 the same structure as the exisiting application menu for the
 GNOME desktop.
 .
 It was originally just a paper prototype written by Cole Anstey.
 .
 HINT: The Circular-Main-Menu binary is installed as cmm(1).
